In [56]:
import pandas as pd

#Read the file into a dataframe that has the distribution of topics per file(aka post)

df = pd.read_csv('doc-topics-65.txt', sep="\t", header=None)
df.columns = ["number", "file", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64"]

df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,55,56,57,58,59,60,61,62,63,64
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.009583,0.005737,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.002582,0.027639,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.052052,0.001469,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.085281,0.000358,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000468,0.000280,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.034794,0.000982,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000858,0.000514,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000690,0.000413,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.118537,0.000867,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000843,0.000505,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.054768,0.001546,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.002091,0.001252,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.002724,0.001631,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.001095,0.000656,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000976,0.000585,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.000383,0.000229,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000881,0.000527,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.001407,0.000842,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.003907,0.041827,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.160313,0.000394,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440

In [57]:
#Create a subset of this dataframe to only include the topics
df_subset = df.select_dtypes(include=['float64'])

#Find the maximum topic value for each row and record it's corresponding column
maxvalueIndexLabel = df_subset.idxmax(axis='columns')
df_max = maxvalueIndexLabel.to_frame()
df_max.columns = ['dominant topic']
df_max.head(20)

   dominant topic
0              40
1              39
2              40
3              58
4              49
5              11
6               7
7              33
8              23
9              23
10             35
11             30
12             40
13             22
14              0
15              0
16              5
17              7
18              8
19              6

In [58]:
#Add the max value to the first dataframe

df = df.join(df_max)
df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,56,57,58,59,60,61,62,63,64,dominant topic
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.005737,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406,40
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.027639,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,39
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.001469,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640,40
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.000358,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400,58
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000280,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313,49
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.000982,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096,11
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000514,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573,7
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000413,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778,33
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.000867,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968,23
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000505,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564,23
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.001546,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,35
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.001252,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397,30
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.001631,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821,40
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.000656,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732,22
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000585,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653,0
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.000229,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256,0
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000527,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589,5
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.000842,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940,7
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.041827,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612,8
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.000394,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440,6

In [59]:
import os

def extractId(file_path):
    file_name = os.path.basename(file_path)
    file = os.path.splitext(file_name)
    return file[0]

df['Id'] = df['file'].apply(extractId)
df['Id'] = df['Id'].astype('int64')

df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,57,58,59,60,61,62,63,64,dominant topic,Id
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406,40,1
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,39,10
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640,40,100000
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400,58,100003
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313,49,100005
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096,11,100025
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573,7,100029
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778,33,100031
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968,23,100034
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564,23,100035
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,35,100038
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397,30,100039
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821,40,100044
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732,22,100048
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653,0,10006
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256,0,10007
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589,5,100074
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940,7,100076
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612,8,100077
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440,6,100084

In [60]:
df_topics = df[['Id', 'dominant topic']].copy()

df_topics.head(20)

        Id dominant topic
0        1             40
1       10             39
2   100000             40
3   100003             58
4   100005             49
5   100025             11
6   100029              7
7   100031             33
8   100034             23
9   100035             23
10  100038             35
11  100039             30
12  100044             40
13  100048             22
14   10006              0
15   10007              0
16  100074              5
17  100076              7
18  100077              8
19  100084              6

In [61]:
df2 = pd.read_csv('Posts-update.csv')

df2.head(5)

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,...,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,ContentLicense,Body_Preprocessed,Body_Tokenized
0,0,1,1,173,NaN,2012-04-10 19:20,NaN,78,43476.0,<p>These usually are overly vague and don't ad...,...,Should I include a career objective on my resume?,<resume>,14.0,3,NaN,NaN,NaN,CC BY-SA 3.0,overli vagu add circumst worthwhil,"['overli', 'vagu', 'add', 'circumst', 'worthwh..."
1,1,2,1,9,NaN,2012-04-10 19:21,NaN,62,7398.0,<p>I've been at my current job for a little ov...,...,How do I take a vacation when I'm wearing too ...,<vacation>,13.0,9,NaN,NaN,NaN,CC BY-SA 3.0,current job year vacat paid time odd end phon...,"['current', 'job', 'year', 'vacat', 'paid', 't..."
2,4,5,1,15,NaN,2012-04-10 19:25,NaN,20,1299.0,<p>When I hired with the company I'm with righ...,...,How could I maintain a flex agreement when my ...,<professionalism><communication><contracts>,5.0,4,NaN,NaN,NaN,CC BY-SA 4.0,hire compani negoti flex agreement friday ema...,"['hire', 'compani', 'negoti', 'flex', 'agreeme..."
3,5,6,1,16,NaN,2012-04-10 19:26,NaN,48,3261.0,"<p>Not that you can't do both, but which has t...",...,Is it better to invest energy in curating an o...,<resume><careers><job-search>,16.0,4,NaN,NaN,NaN,CC BY-SA 3.0,bigger bang buck time send resum hyperlink on...,"['bigger', 'bang', 'buck', 'time', 'send', 're..."
4,8,9,2,0,2.0,2012-04-10 19:26,NaN,88,NaN,<p>Cross training is critical. You can get bu...,...,NaN,NaN,NaN,7,NaN,NaN,NaN,CC BY-SA 3.0,cross train critic buy boss explain singl poi...,"['cross', 'train', 'critic', 'buy', 'boss', 'e..."

In [62]:
df_posts = df2[['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreationDate']].copy()

df_posts.head(5)

   Id  PostTypeId  AcceptedAnswerId      CreationDate
0   1           1               173  2012-04-10 19:20
1   2           1                 9  2012-04-10 19:21
2   5           1                15  2012-04-10 19:25
3   6           1                16  2012-04-10 19:26
4   9           2                 0  2012-04-10 19:26

In [63]:
df_final = df_topics.merge(df_posts, how='inner', on='Id')

df_final.head(10)

       Id dominant topic  PostTypeId  AcceptedAnswerId      CreationDate
0       1             40           1               173  2012-04-10 19:20
1      10             39           1                14  2012-04-10 19:27
2  100000             40           2                 0  2017-10-03 12:36
3  100003             58           1                 0  2017-10-03 14:20
4  100005             49           1                 0  2017-10-03 15:03
5  100025             11           1                 0  2017-10-03 20:12
6  100029              7           1                 0  2017-10-03 22:43
7  100031             33           1            100035  2017-10-03 23:14
8  100034             23           1                 0   2017-10-04 2:28
9  100035             23           2                 0   2017-10-04 2:30

In [64]:
df_final['CreationDate'] = pd.to_datetime(df_final['CreationDate'])

df_final.head(10)

       Id dominant topic  PostTypeId  AcceptedAnswerId        CreationDate
0       1             40           1               173 2012-04-10 19:20:00
1      10             39           1                14 2012-04-10 19:27:00
2  100000             40           2                 0 2017-10-03 12:36:00
3  100003             58           1                 0 2017-10-03 14:20:00
4  100005             49           1                 0 2017-10-03 15:03:00
5  100025             11           1                 0 2017-10-03 20:12:00
6  100029              7           1                 0 2017-10-03 22:43:00
7  100031             33           1            100035 2017-10-03 23:14:00
8  100034             23           1                 0 2017-10-04 02:28:00
9  100035             23           2                 0 2017-10-04 02:30:00

In [65]:
df_questions = df_final.drop(df_final[(df_final.PostTypeId == 2)].index)

df_questions.head(20)

        Id dominant topic  PostTypeId  AcceptedAnswerId        CreationDate
0        1             40           1               173 2012-04-10 19:20:00
1       10             39           1                14 2012-04-10 19:27:00
3   100003             58           1                 0 2017-10-03 14:20:00
4   100005             49           1                 0 2017-10-03 15:03:00
5   100025             11           1                 0 2017-10-03 20:12:00
6   100029              7           1                 0 2017-10-03 22:43:00
7   100031             33           1            100035 2017-10-03 23:14:00
8   100034             23           1                 0 2017-10-04 02:28:00
10  100038             35           1            100044 2017-10-04 04:35:00
11  100039             30           1                 0 2017-10-04 05:15:00
13  100048             22           1                 0 2017-10-04 07:18:00
14   10006              0           1             10007 2013-03-01 00:06:00
16  100074              5           1            100077 2017-10-04 13:33:00
17  100076              7           1            100084 2017-10-04 13:35:00
20  100086             22           1            100089 2017-10-04 15:17:00
22  100092             38           1            100093 2017-10-04 16:10:00
24  100094             11           1                 0 2017-10-04 16:59:00
25  100096             36           1                 0 2017-10-04 17:02:00
26  100100             14           1            100101 2017-10-04 17:45:00
28  100111             22           1            100112 2017-10-04 18:59:00

In [66]:
df_questions = df_questions.drop(df_questions[(df_questions.AcceptedAnswerId == 0)].index)

df_questions.head(20)

        Id dominant topic  PostTypeId  AcceptedAnswerId        CreationDate
0        1             40           1               173 2012-04-10 19:20:00
1       10             39           1                14 2012-04-10 19:27:00
7   100031             33           1            100035 2017-10-03 23:14:00
10  100038             35           1            100044 2017-10-04 04:35:00
14   10006              0           1             10007 2013-03-01 00:06:00
16  100074              5           1            100077 2017-10-04 13:33:00
17  100076              7           1            100084 2017-10-04 13:35:00
20  100086             22           1            100089 2017-10-04 15:17:00
22  100092             38           1            100093 2017-10-04 16:10:00
26  100100             14           1            100101 2017-10-04 17:45:00
28  100111             22           1            100112 2017-10-04 18:59:00
31   10012             41           1             10013 2013-03-01 07:21:00
32  100123             45           1            100128 2017-10-04 20:48:00
33  100126             64           1            100130 2017-10-04 22:24:00
37  100133             45           1            100135 2017-10-05 02:20:00
41  100165             42           1            100171 2017-10-05 13:41:00
44  100177             44           1            100178 2017-10-05 15:31:00
46   10018              6           1             10023 2013-03-01 15:26:00
49  100192             22           1            100193 2017-10-05 20:25:00
54  100202             49           1            100203 2017-10-05 22:20:00

In [67]:
print(df_questions.count())

Id                  15228
dominant topic      15228
PostTypeId          15228
AcceptedAnswerId    15228
CreationDate        15228
dtype: int64

In [68]:
df_answers = df_final.drop(df_final[(df_final.PostTypeId == 1)].index)

df_answers.head(20)

        Id dominant topic  PostTypeId  AcceptedAnswerId        CreationDate
2   100000             40           2                 0 2017-10-03 12:36:00
9   100035             23           2                 0 2017-10-04 02:30:00
12  100044             40           2                 0 2017-10-04 06:05:00
15   10007              0           2                 0 2013-03-01 00:59:00
18  100077              8           2                 0 2017-10-04 13:37:00
19  100084              6           2                 0 2017-10-04 14:50:00
21  100089              9           2                 0 2017-10-04 15:36:00
23  100093             11           2                 0 2017-10-04 16:35:00
27  100101             14           2                 0 2017-10-04 17:50:00
29  100112             45           2                 0 2017-10-04 19:07:00
34  100128             40           2                 0 2017-10-04 23:44:00
35   10013             14           2                 0 2013-03-01 08:54:00
36  100130             14           2                 0 2017-10-05 00:37:00
38  100135             39           2                 0 2017-10-05 02:48:00
43  100171             16           2                 0 2017-10-05 14:01:00
45  100178             40           2                 0 2017-10-05 15:37:00
50  100193              5           2                 0 2017-10-05 20:36:00
55  100203             49           2                 0 2017-10-05 22:31:00
60  100216             40           2                 0 2017-10-06 02:56:00
61  100220             18           2                 0 2017-10-06 03:12:00

In [69]:
df_answers = df_answers[['Id', 'CreationDate']].copy()

df_answers = df_answers.rename(columns={"CreationDate": "AnswerDate", "Id":"aaId"})

df_answers.head(20)

      aaId          AnswerDate
2   100000 2017-10-03 12:36:00
9   100035 2017-10-04 02:30:00
12  100044 2017-10-04 06:05:00
15   10007 2013-03-01 00:59:00
18  100077 2017-10-04 13:37:00
19  100084 2017-10-04 14:50:00
21  100089 2017-10-04 15:36:00
23  100093 2017-10-04 16:35:00
27  100101 2017-10-04 17:50:00
29  100112 2017-10-04 19:07:00
34  100128 2017-10-04 23:44:00
35   10013 2013-03-01 08:54:00
36  100130 2017-10-05 00:37:00
38  100135 2017-10-05 02:48:00
43  100171 2017-10-05 14:01:00
45  100178 2017-10-05 15:37:00
50  100193 2017-10-05 20:36:00
55  100203 2017-10-05 22:31:00
60  100216 2017-10-06 02:56:00
61  100220 2017-10-06 03:12:00

In [70]:
df_both = df_questions.merge(df_answers, left_on='AcceptedAnswerId', right_on='aaId', suffixes=(False, False))

df_both.head()

,Id,dominant topic,PostTypeId,AcceptedAnswerId,CreationDate,aaId,AnswerDate
0,1,40,1,173,2012-04-10 19:20:00,173,2012-04-10 21:35:00
1,10,39,1,14,2012-04-10 19:27:00,14,2012-04-10 19:30:00
2,100031,33,1,100035,2017-10-03 23:14:00,100035,2017-10-04 02:30:00
3,100038,35,1,100044,2017-10-04 04:35:00,100044,2017-10-04 06:05:00
4,10006,0,1,10007,2013-03-01 00:06:00,10007,2013-03-01 00:59:00

In [71]:
df_both['TimeDifference'] = df_both['AnswerDate'] - df_both['CreationDate']

df_both.head()

,Id,dominant topic,PostTypeId,AcceptedAnswerId,CreationDate,aaId,AnswerDate,TimeDifference
0,1,40,1,173,2012-04-10 19:20:00,173,2012-04-10 21:35:00,0 days 02:15:00
1,10,39,1,14,2012-04-10 19:27:00,14,2012-04-10 19:30:00,0 days 00:03:00
2,100031,33,1,100035,2017-10-03 23:14:00,100035,2017-10-04 02:30:00,0 days 03:16:00
3,100038,35,1,100044,2017-10-04 04:35:00,100044,2017-10-04 06:05:00,0 days 01:30:00
4,10006,0,1,10007,2013-03-01 00:06:00,10007,2013-03-01 00:59:00,0 days 00:53:00

In [72]:
df_both.dtypes

Id                            int64
dominant topic               object
PostTypeId                    int64
AcceptedAnswerId              int64
CreationDate         datetime64[ns]
aaId                          int64
AnswerDate           datetime64[ns]
TimeDifference      timedelta64[ns]
dtype: object

In [73]:
import numpy as np

df_both['TimeDifference_hours'] = df_both['TimeDifference'] / np.timedelta64(1, 'h')

df_both.head()

,Id,dominant topic,PostTypeId,AcceptedAnswerId,CreationDate,aaId,AnswerDate,TimeDifference,TimeDifference_hours
0,1,40,1,173,2012-04-10 19:20:00,173,2012-04-10 21:35:00,0 days 02:15:00,2.250000
1,10,39,1,14,2012-04-10 19:27:00,14,2012-04-10 19:30:00,0 days 00:03:00,0.050000
2,100031,33,1,100035,2017-10-03 23:14:00,100035,2017-10-04 02:30:00,0 days 03:16:00,3.266667
3,100038,35,1,100044,2017-10-04 04:35:00,100044,2017-10-04 06:05:00,0 days 01:30:00,1.500000
4,10006,0,1,10007,2013-03-01 00:06:00,10007,2013-03-01 00:59:00,0 days 00:53:00,0.883333

In [80]:
df_both = df_both[['dominant topic', 'TimeDifference_hours']].copy()

df_both.head()

  dominant topic  TimeDifference_hours
0             40              2.250000
1             39              0.050000
2             33              3.266667
3             35              1.500000
4              0              0.883333

In [83]:
df_both['dominant topic'] = pd.to_numeric(df_both['dominant topic'], errors='coerce')

df_both.head()

   dominant topic  TimeDifference_hours
0              40              2.250000
1              39              0.050000
2              33              3.266667
3              35              1.500000
4               0              0.883333

In [110]:
median = df_both[(df_both["dominant topic"] == 14) | (df_both["dominant topic"] == 18) | (df_both["dominant topic"] == 22) | (df_both["dominant topic"] == 60) | (df_both["dominant topic"] == 61)]

median.head()

    dominant topic  TimeDifference_hours
7               22              0.316667
9               14              0.083333
10              22              0.133333
18              22              0.183333
36              18              1.583333

In [111]:
median.median()

dominant topic          22.000
TimeDifference_hours     0.875
dtype: float64

In [21]:
g = df_both.groupby("dominant topic").median()

g.head()

                TimeDifference_hours
dominant topic
0                           0.683333
1                           0.883333
10                          0.850000
11                          0.683333
12                          0.866667

In [22]:
g.to_csv('median-time-difference.csv')