In [2]:
import pandas as pd

#Read the file into a dataframe that has the distribution of topics per file(aka post)

df = pd.read_csv('doc-topics-65.txt', sep="\t", header=None)
df.columns = ["number", "file", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64"]

df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,55,56,57,58,59,60,61,62,63,64
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.009583,0.005737,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.002582,0.027639,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.052052,0.001469,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.085281,0.000358,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000468,0.000280,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.034794,0.000982,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000858,0.000514,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000690,0.000413,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.118537,0.000867,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000843,0.000505,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.054768,0.001546,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.002091,0.001252,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.002724,0.001631,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.001095,0.000656,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000976,0.000585,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.000383,0.000229,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000881,0.000527,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.001407,0.000842,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.003907,0.041827,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.160313,0.000394,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440

In [4]:
#Create a subset of this dataframe to only include the topics
df_subset = df.select_dtypes(include=['float64'])

#Find the maximum topic value for each row and record it's corresponding column
maxvalueIndexLabel = df_subset.idxmax(axis='columns')
df_max = maxvalueIndexLabel.to_frame()
df_max.columns = ['dominant topic']
df_max.head(20)

   dominant topic
0              40
1              39
2              40
3              58
4              49
5              11
6               7
7              33
8              23
9              23
10             35
11             30
12             40
13             22
14              0
15              0
16              5
17              7
18              8
19              6

In [5]:
#Add the max value to the first dataframe

df = df.join(df_max)
df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,56,57,58,59,60,61,62,63,64,dominant topic
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.005737,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406,40
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.027639,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,39
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.001469,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640,40
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.000358,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400,58
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000280,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313,49
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.000982,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096,11
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000514,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573,7
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000413,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778,33
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.000867,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968,23
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000505,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564,23
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.001546,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,35
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.001252,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397,30
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.001631,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821,40
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.000656,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732,22
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000585,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653,0
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.000229,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256,0
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000527,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589,5
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.000842,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940,7
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.041827,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612,8
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.000394,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440,6

In [6]:
import os

def extractId(file_path):
    file_name = os.path.basename(file_path)
    file = os.path.splitext(file_name)
    return file[0]

df['Id'] = df['file'].apply(extractId)
df['Id'] = df['Id'].astype('int64')

df.head(20)

,number,file,0,1,2,3,4,5,6,7,...,57,58,59,60,61,62,63,64,dominant topic,Id
0,0,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.001988,0.006864,0.006427,0.007492,0.011548,0.008930,0.007058,0.004993,...,0.002920,0.007275,0.009035,0.004429,0.018561,0.005125,0.007876,0.006406,40,1
1,1,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.028112,0.003111,0.002405,0.001901,0.053532,...,0.000787,0.028053,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,39,10
2,2,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000509,0.001757,0.051244,0.001918,0.002957,0.002286,0.001807,0.001278,...,0.000748,0.076260,0.002313,0.001134,0.004752,0.075710,0.002016,0.001640,40,100000
3,3,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000124,0.000429,0.000401,0.000468,0.000721,0.000558,0.000441,0.000312,...,0.000182,0.212160,0.157831,0.000277,0.001159,0.000320,0.006541,0.000400,58,100003
4,4,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.004829,0.061852,0.005046,0.000366,0.024225,0.000436,0.000345,0.000244,...,0.000143,0.000355,0.005173,0.000216,0.015103,0.000250,0.028777,0.000313,49,100005
5,5,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000340,0.001175,0.001100,0.001282,0.001976,0.001528,0.001208,0.000855,...,0.000500,0.001245,0.001546,0.000758,0.003176,0.000877,0.001348,0.001096,11,100025
6,6,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.034863,0.000614,0.000575,0.061369,0.001034,0.000799,0.026646,0.243241,...,0.000261,0.182747,0.009480,0.000396,0.062360,0.087171,0.000705,0.000573,7,100029
7,7,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000143,0.000494,0.000463,0.000540,0.021763,0.000643,0.000508,0.000360,...,0.000210,0.007501,0.000651,0.000319,0.168790,0.007346,0.000567,0.209778,33,100031
8,8,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000300,0.001037,0.000971,0.001132,0.001745,0.001349,0.001066,0.015391,...,0.000441,0.001099,0.001365,0.000669,0.002805,0.000774,0.001190,0.000968,23,100034
9,9,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000175,0.000604,0.000566,0.000659,0.001016,0.000786,0.009144,0.000439,...,0.000257,0.000640,0.000795,0.000390,0.180625,0.000451,0.000693,0.000564,23,100035
10,10,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000535,0.001849,0.001731,0.002018,0.003111,0.028499,0.027995,0.157905,...,0.000787,0.001960,0.002434,0.001193,0.005000,0.001381,0.002122,0.001726,35,100038
11,11,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000434,0.001497,0.001402,0.001634,0.002519,0.001948,0.001540,0.001089,...,0.000637,0.001587,0.001971,0.000966,0.004049,0.001118,0.001718,0.001397,30,100039
12,12,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000565,0.112071,0.001827,0.002129,0.003282,0.002538,0.002006,0.001419,...,0.000830,0.002068,0.002568,0.001259,0.005275,0.001457,0.002238,0.001821,40,100044
13,13,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000227,0.000785,0.033948,0.000856,0.001320,0.122805,0.000807,0.000571,...,0.088904,0.000831,0.001033,0.000506,0.002121,0.000586,0.000900,0.000732,22,100048
14,14,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.316021,0.000699,0.030263,0.040241,0.001177,0.010779,0.040197,0.000509,...,0.000298,0.000741,0.000921,0.000451,0.080846,0.000522,0.000802,0.000653,0,10006
15,15,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.309768,0.000274,0.000257,0.066108,0.008204,0.000357,0.000282,0.000200,...,0.019472,0.019646,0.000361,0.000177,0.105262,0.035045,0.000315,0.000256,0,10007
16,16,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.107017,0.000631,0.000591,0.000689,0.001061,0.214489,0.000649,0.000459,...,0.000268,0.000669,0.000830,0.000407,0.099637,0.000471,0.000724,0.000589,5,100074
17,17,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000292,0.001008,0.000944,0.001100,0.001695,0.001311,0.228555,0.327791,...,0.000429,0.001068,0.029766,0.000650,0.002725,0.000752,0.001156,0.000940,7,100076
18,18,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000810,0.042287,0.002620,0.003054,0.044196,0.003640,0.002877,0.002036,...,0.001190,0.002966,0.003683,0.001806,0.007567,0.002089,0.003211,0.002612,8,100077
19,19,file:/C:/Users/grech/mallet-2.0.8/data-files/1...,0.000137,0.000471,0.000441,0.000515,0.014098,0.000613,0.399623,0.100127,...,0.000201,0.000500,0.000620,0.000304,0.007927,0.000352,0.000541,0.000440,6,100084

In [7]:
df_topics = df[['Id', 'dominant topic']].copy()

df_topics.head(20)

        Id dominant topic
0        1             40
1       10             39
2   100000             40
3   100003             58
4   100005             49
5   100025             11
6   100029              7
7   100031             33
8   100034             23
9   100035             23
10  100038             35
11  100039             30
12  100044             40
13  100048             22
14   10006              0
15   10007              0
16  100074              5
17  100076              7
18  100077              8
19  100084              6

In [12]:
df2 = pd.read_csv('gender-part1.csv')

df2.head(5)

   Unnamed: 0  OwnerUserId OwnerDisplayName   Id
0           0         15.0              NaN  1.0
1           1         11.0              NaN  2.0
2           2         30.0              NaN  1.0
3           3         28.0              NaN  1.0
4           4         33.0              NaN  5.0

In [14]:
df2 = df2[['OwnerUserId', 'OwnerDisplayName', 'Id']].copy()

df2.head()

   OwnerUserId OwnerDisplayName   Id
0         15.0              NaN  1.0
1         11.0              NaN  2.0
2         30.0              NaN  1.0
3         28.0              NaN  1.0
4         33.0              NaN  5.0

In [15]:
df_final = df2.merge(df_topics, how='left', on='Id')

df_final.head(10)

   OwnerUserId OwnerDisplayName    Id dominant topic
0         15.0              NaN   1.0             40
1         11.0              NaN   2.0             43
2         30.0              NaN   1.0             40
3         28.0              NaN   1.0             40
4         33.0              NaN   5.0             56
5         28.0              NaN   6.0             27
6         12.0              NaN   2.0             43
7          7.0              NaN   2.0             43
8         28.0              NaN   9.0              8
9         32.0              NaN  10.0             39

In [34]:
users = pd.read_csv('Users-location.csv')

users.head()

   Unnamed: 0  Id   DisplayName                      Location
0           0  -1     Community            on the server farm
1           1   2        Jeremy                           NaN
2           2   3  Thomas Owens  Rochester, NY, United States
3           3   4  Geoff Dalgas                 Corvallis, OR
4           4   5           Hor                        Brazil

In [35]:
users = users[['Id', 'DisplayName', 'Location']].copy()

users.head()

   Id   DisplayName                      Location
0  -1     Community            on the server farm
1   2        Jeremy                           NaN
2   3  Thomas Owens  Rochester, NY, United States
3   4  Geoff Dalgas                 Corvallis, OR
4   5           Hor                        Brazil

In [36]:
users = users.rename(columns={"Id": "OwnerUserId"})

users.head()

   OwnerUserId   DisplayName                      Location
0           -1     Community            on the server farm
1            2        Jeremy                           NaN
2            3  Thomas Owens  Rochester, NY, United States
3            4  Geoff Dalgas                 Corvallis, OR
4            5           Hor                        Brazil

In [37]:
df_gender = df_final.merge(users, how='left', on='OwnerUserId')

df_gender.head(10)

,OwnerUserId,OwnerDisplayName,Id,dominant topic,DisplayName,Location
0,15.0,NaN,1.0,40,Anon,"Sydney, Australia"
1,11.0,NaN,2.0,43,John Straka,Florida
2,30.0,NaN,1.0,40,Adam Rackis,Edmond OK
3,28.0,NaN,1.0,40,Scott C Wilson,"Tampa, FL"
4,33.0,NaN,5.0,56,Affable Geek,"Herndon, VA"
5,28.0,NaN,6.0,27,Scott C Wilson,"Tampa, FL"
6,12.0,NaN,2.0,43,bretterer,"Dayton, OH"
7,7.0,NaN,2.0,43,ChrisF,United Kingdom
8,28.0,NaN,9.0,8,Scott C Wilson,"Tampa, FL"
9,32.0,NaN,10.0,39,Resorath,"Calgary, Canada"

In [38]:
df_gender.loc[df_gender['OwnerDisplayName'].notnull(), 'DisplayName'] = df_gender['OwnerDisplayName']

df_gender.head(25)

,OwnerUserId,OwnerDisplayName,Id,dominant topic,DisplayName,Location
0,15.0,NaN,1.0,40,Anon,"Sydney, Australia"
1,11.0,NaN,2.0,43,John Straka,Florida
2,30.0,NaN,1.0,40,Adam Rackis,Edmond OK
3,28.0,NaN,1.0,40,Scott C Wilson,"Tampa, FL"
4,33.0,NaN,5.0,56,Affable Geek,"Herndon, VA"
5,28.0,NaN,6.0,27,Scott C Wilson,"Tampa, FL"
6,12.0,NaN,2.0,43,bretterer,"Dayton, OH"
7,7.0,NaN,2.0,43,ChrisF,United Kingdom
8,28.0,NaN,9.0,8,Scott C Wilson,"Tampa, FL"
9,32.0,NaN,10.0,39,Resorath,"Calgary, Canada"
10,3.0,NaN,1.0,40,Thomas Owens,"Rochester, NY, United States"
11,40.0,NaN,2.0,43,MPelletier,"Gatineau, Canada"
12,30.0,NaN,14.0,45,Adam Rackis,Edmond OK
13,28.0,NaN,15.0,14,Scott C Wilson,"Tampa, FL"
14,39.0,NaN,16.0,7,Claudiu Constantin,"Bucharest, Romania"
15,7.0,NaN,1.0,40,ChrisF,United Kingdom
16,42.0,NaN,18.0,42,Zelda,Iowa
17,31.0,NaN,2.0,43,jefflunt,"Evanston, IL"
18,51.0,NaN,6.0,27,Atif,"Pearland, TX, USA"
19,46.0,NaN,21.0,31,nopcorn,NaN
20,52.0,NaN,10.0,39,Jim In Texas,United States
21,13.0,NaN,6.0,27,Brandon,"Longmont, CO, United States"
22,30.0,NaN,18.0,42,Adam Rackis,Edmond OK
23,NaN,user38,6.0,27,user38,NaN
24,28.0,NaN,18.0,42,Scott C Wilson,"Tampa, FL"

In [39]:
df_gender.to_csv('gender-final.csv')

In [4]:
import pandas as pd

gender = pd.read_csv('gender-complete.csv')

gender.head()

,Unnamed: 0,OwnerUserId,OwnerDisplayName,Id,dominant topic,DisplayName,Location,Gender,Gender Probability,Gender Count
0,0,15.0,NaN,1,40,Anon,"Sydney, Australia",male,0.96,2426
1,1,11.0,NaN,2,43,John Straka,Florida,male,1.00,2692560
2,2,30.0,NaN,1,40,Adam Rackis,Edmond OK,male,0.98,832821
3,3,28.0,NaN,1,40,Scott C Wilson,"Tampa, FL",male,1.00,603708
4,4,33.0,NaN,5,56,Affable Geek,"Herndon, VA",male,0.81,48

In [5]:
#add new column and assign genders to it
#assign unknown if probability is under 90%

gender['FinalGender'] = gender['Gender']
gender.loc[gender['Gender Probability'] < 0.9, 'FinalGender'] = 'unknown'

gender.head(25)

,Unnamed: 0,OwnerUserId,OwnerDisplayName,Id,dominant topic,DisplayName,Location,Gender,Gender Probability,Gender Count,FinalGender
0,0,15.0,NaN,1,40,Anon,"Sydney, Australia",male,0.96,2426,male
1,1,11.0,NaN,2,43,John Straka,Florida,male,1.00,2692560,male
2,2,30.0,NaN,1,40,Adam Rackis,Edmond OK,male,0.98,832821,male
3,3,28.0,NaN,1,40,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
4,4,33.0,NaN,5,56,Affable Geek,"Herndon, VA",male,0.81,48,unknown
5,5,28.0,NaN,6,27,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
6,6,12.0,NaN,2,43,bretterer,"Dayton, OH",unknown,0.00,0,unknown
7,7,7.0,NaN,2,43,ChrisF,United Kingdom,male,0.87,15,unknown
8,8,28.0,NaN,9,8,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
9,9,32.0,NaN,10,39,Resorath,"Calgary, Canada",unknown,0.00,0,unknown
10,10,3.0,NaN,1,40,Thomas Owens,"Rochester, NY, United States",male,1.00,1246099,male
11,11,40.0,NaN,2,43,MPelletier,"Gatineau, Canada",unknown,0.00,0,unknown
12,12,30.0,NaN,14,45,Adam Rackis,Edmond OK,male,0.98,832821,male
13,13,28.0,NaN,15,14,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
14,14,39.0,NaN,16,7,Claudiu Constantin,"Bucharest, Romania",male,1.00,24,male
15,15,7.0,NaN,1,40,ChrisF,United Kingdom,male,0.87,15,unknown
16,16,42.0,NaN,18,42,Zelda,Iowa,female,0.97,8591,female
17,17,31.0,NaN,2,43,jefflunt,"Evanston, IL",unknown,0.00,0,unknown
18,18,51.0,NaN,6,27,Atif,"Pearland, TX, USA",male,0.99,33140,male
19,19,46.0,NaN,21,31,nopcorn,NaN,unknown,0.00,0,unknown
20,20,52.0,NaN,10,39,Jim In Texas,United States,male,1.00,607340,male
21,21,13.0,NaN,6,27,Brandon,"Longmont, CO, United States",male,1.00,350589,male
22,22,30.0,NaN,18,42,Adam Rackis,Edmond OK,male,0.98,832821,male
23,23,NaN,user38,6,27,user38,NaN,unknown,0.00,0,unknown
24,24,28.0,NaN,18,42,Scott C Wilson,"Tampa, FL",male,1.00,603708,male

In [6]:
gender = gender.drop_duplicates(subset=['dominant topic', 'DisplayName'])

gender.head(25)

,Unnamed: 0,OwnerUserId,OwnerDisplayName,Id,dominant topic,DisplayName,Location,Gender,Gender Probability,Gender Count,FinalGender
0,0,15.0,NaN,1,40,Anon,"Sydney, Australia",male,0.96,2426,male
1,1,11.0,NaN,2,43,John Straka,Florida,male,1.00,2692560,male
2,2,30.0,NaN,1,40,Adam Rackis,Edmond OK,male,0.98,832821,male
3,3,28.0,NaN,1,40,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
4,4,33.0,NaN,5,56,Affable Geek,"Herndon, VA",male,0.81,48,unknown
5,5,28.0,NaN,6,27,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
6,6,12.0,NaN,2,43,bretterer,"Dayton, OH",unknown,0.00,0,unknown
7,7,7.0,NaN,2,43,ChrisF,United Kingdom,male,0.87,15,unknown
8,8,28.0,NaN,9,8,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
9,9,32.0,NaN,10,39,Resorath,"Calgary, Canada",unknown,0.00,0,unknown
10,10,3.0,NaN,1,40,Thomas Owens,"Rochester, NY, United States",male,1.00,1246099,male
11,11,40.0,NaN,2,43,MPelletier,"Gatineau, Canada",unknown,0.00,0,unknown
12,12,30.0,NaN,14,45,Adam Rackis,Edmond OK,male,0.98,832821,male
13,13,28.0,NaN,15,14,Scott C Wilson,"Tampa, FL",male,1.00,603708,male
14,14,39.0,NaN,16,7,Claudiu Constantin,"Bucharest, Romania",male,1.00,24,male
15,15,7.0,NaN,1,40,ChrisF,United Kingdom,male,0.87,15,unknown
16,16,42.0,NaN,18,42,Zelda,Iowa,female,0.97,8591,female
17,17,31.0,NaN,2,43,jefflunt,"Evanston, IL",unknown,0.00,0,unknown
18,18,51.0,NaN,6,27,Atif,"Pearland, TX, USA",male,0.99,33140,male
19,19,46.0,NaN,21,31,nopcorn,NaN,unknown,0.00,0,unknown
20,20,52.0,NaN,10,39,Jim In Texas,United States,male,1.00,607340,male
21,21,13.0,NaN,6,27,Brandon,"Longmont, CO, United States",male,1.00,350589,male
22,22,30.0,NaN,18,42,Adam Rackis,Edmond OK,male,0.98,832821,male
23,23,NaN,user38,6,27,user38,NaN,unknown,0.00,0,unknown
24,24,28.0,NaN,18,42,Scott C Wilson,"Tampa, FL",male,1.00,603708,male

In [7]:
group_gender = gender.groupby(["dominant topic",'FinalGender']).size().to_frame('count')
group_gender.head()

                            count
dominant topic FinalGender
0              female          36
               male           172
               unknown        275
1              female          42
               male           254

In [8]:
group_gender.to_csv('gender-grouped-uniquified.csv')